{% extends 'data/base.html' %}
{% load static %}

{% block content %}

{% block title %}
<title>Data Listing</title>

{% endblock %}
{% block head %}
{% endblock %}
<main class="content">
   <div class="container-fluid p-0">
      <div class="row">
         <div class="col-12">
            <div class="card">
               <div class="card-header">
                  <h5 class="card-title">Listing </h5>

               </div>
               <div class="card-body">
                  <table id="datatables-basic" class="table table-striped" style="width:100%">
                     <thead>
                        <tr>
                           <th>Serial No.</th>
                           <th>Open</th>
                           <th>High</th>
                           <th>Low</th>
                           <th>Close</th>
                           <th>Exchange</th>
                           <th>Ticker</th>
                           <th>Volume</th>
                           <th>Price Time</th>
                           <th>Vwap</th>
                           <th>Created on</th>

                        </tr>
                     </thead>
                     <tbody>
                        {% for one in all_data %}
                        <tr>
                           <td>{{forloop.counter}}</td>
                           <td>{{one.open_dt}}</td>
                           <td>{{one.high}}</td>

                           <td>{{one.low}}</td>
                           <td>{{one.close}}</td>

                           <td>{{one.exchange}}</td>
                           <td>{{one.ticker}}</td>
                           <td>{{one.volume}}</td>
                           <td>{{one.price_time}}</td>
                           <td>{{one.vwap}}</td>

                           <td>{{one.created_on}}</td>

                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

{% endblock %}