{% extends 'data/base.html' %}
{% load static %}

{% block content %}

{% block title %}
<title>Data Listing</title>

{% endblock %}
{% block head %}
{% endblock %}
<main class="content">
   <div class="container-fluid p-0">
      <div class="row">
         <div class="col-12">
            <div class="card">
               <div class="card-header">
                  <h5 class="card-title">Listing </h5>

               </div>
               <div class="card-body">
                  <table id="datatables-basic" class="table table-striped" style="width:100%">
                     <thead>
                        <tr>
                           <th>Pair</th>
                           <th>Current Offset</th>
                           <th>Price</th>
                           <th>Vwap</th>
                           <th>Price Time</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for pair in all_data %}
                        <tr>
                           <td>{{pair.pair.ticker}}</td>
                           <td>{{pair.offset}}</td>
                           <td>{{pair.close}}</td>
                           <td>{{pair.vwap}}</td>
                           <td>{{pair.price_time}}</td>

                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

{% endblock %}